html, body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', Arial;
	color: #fff;
}

body {
	background: url('../images/back-playground.png') no-repeat bottom left #292929;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.p-page {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1a1b1e;
	border-bottom-left-radius: 240px;
}

	.p-page:before {
		content: '';
	    position: absolute;
	    bottom: 24px;
	    left: 41px;
	    width: 100px;
	    height: 120px;
	    background: linear-gradient(30deg, #000 1px, #f1eaea 90%);
	    box-shadow: 0 0 0 1px #999 inset;
	    border-bottom-left-radius: 240px;
	    transform: skew(20deg, 20deg) rotate(-8deg);
	}

	.p-page:after {
		content: '';
		position: absolute;
		bottom: 100px;
		left: 160px;
		width: 200px;
		height: 200px;
		box-shadow: -80px 80px 32px rgba(0, 0, 0, 0.2);
		transform: skew(-20deg);
		z-index: -1;	
	}

	.s-section {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
		justify-content: center;
	}

		.s-section.s-section--right {
			position: relative;
			background-color: #ccc;
		}

		.b-user {
			display: flex;
		    align-items: center;	
			margin-bottom: 50px;
			max-width: 90vw;
		}

			.b-user__avatar {
				flex: none;
				width: 100px;
				height: 100px;
				margin-right: 20px;
				background: url('../images/avatar.jpg') center center;
				background-size: cover;
			}

			.b-user__info {

			}

				.b-user__info-title {
					font-size: 3em;
					margin: 0;
				}

				.b-user__info-subtitle {
					margin: 5px 0;
					font-size: 12px;
					font-weight: 300;
					color: #ccc;
				}

		.b-logo {
			position: relative;
			max-width: 80%;
			padding: 20px 40px;
		    background-color: #fff;
		    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.03);
		    color: #000;
		    font-size: 72px;
		    font-weight: bold;
		    text-align: center;
		}

		.b-logo:after {
		    content: '';
		    display: block;
		    width: 0;
		    height: 0;
	        border-bottom: 30px solid transparent;
    		border-left: 20px solid white;
		    position: absolute;
		    top: 100%;
		}

		.s-contacts {
			display: flex;
			flex-direction: column;
		    width: 500px;
    		max-width: 90vw;
		}

			.b-contact + .b-contact {
				margin-top: 10px;
			}

			.b-contact__text {
				display: inline-block;
			    padding: 5px 10px;		
			    color: #000;
			    background-color: #fff;
			}

		.b-overlay {
			position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: url(../images/back-playground.png) #ccc;
		    filter: grayscale(100%);
		    opacity: .2;
		}